body {
    background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),
        url("../images/bg-3.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    height: 100vh;
    display: flex;
    align-items: center;
}



.card-custom {
    border-radius: 15px;
    box-shadow: 0 6px 18px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    background: #fff;
}

.page-title {
    text-align: center;
    margin-bottom: 20px;
    font-weight: 700;
    font-size: 28px;
}

.btn-custom {
    height: 45px;
    font-size: 16px;
    border-radius: 10px;
    font-weight: 600;
}

.form-control {
    height: 45px;
    border-radius: 10px;
}